.logo {
  background-color: coral;
  text-align: center;
  color: white;
  margin-right: 300px;
  margin-left: 300px;
}

.row::after {
 content: "";
 clear: both;
 display: table;
}

.column {
  float: left;
  width: 33.33%;
  padding: 12px;
  cursor: pointer;
}

#parentBtn {
  display: none;
}

.newChoice {
  float: right;
}

button, #choice {
  background-color: coral;
  border: 2px solid white;
  font-size: 18px;
  color: white;
  margin-right: 20px;
  cursor: pointer;
} 

